@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-dark: #121212;
	--color-light: #fafafa;
}

html {
	scroll-behavior: smooth;
	letter-spacing: 0.3px;
}

.dark {
	background-color: var(--color-dark);
	color: var(--color-light);
}

.light {
	background-color: var(--color-light);
	color: var(--color-dark);
}

::-webkit-scrollbar {
	@apply w-1;
}

::-webkit-scrollbar-track {
	@apply rounded-[3px] bg-transparent;
}

::-webkit-scrollbar-thumb {
	@apply rounded-[3px] border-2 border-neutral-300 bg-neutral-600 dark:bg-neutral-400;
}
